extends layout

block content
  h1= title
  p(class="grey") ohayo gozaimasu!

  body

  #btnBox
  form
      input#myBtn(type='button', value='more noodles!', <='', form='')
  p Latest photos:
  #images



